$font-stack: Montserrat;
$foo: bar;
$foo-font: Montserrat;

$webster-font-stack: Montserrat;

.foo {
  --font-stack: Montserrat;
  --foo-font: Montserrat;
  font: 20px Montserrat;
  font-family: Montserrat;
}
